body {
    position: relative;
    top: 0em;
    font-size: 0.7em;
    font-family: "Verdana";
}

#name {
    position: relative;
    float: left;
    font-size: 2.5em;
}

#role {
    font-size: 0.5em;
}

#contacts {
    position: relative;
    float: right;
    top: 1em;
}

#contacts img {
    position: relative;
    top: 5px;
    width: 17px;
    height: 17px;
}

a:link {
    color: black;
    text-decoration: none;
}

.info_div {
    clear: both;
    position: relative;
    float: left;
    top: 1.6em;
    padding-bottom: 0.6em;
}

.title {
    padding-bottom: 0.3em;
}

.title span {
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

#exp .title span {
    background: #5CA0EA;
}

#education .title span {
    background: #CE8147;
}

#prof_skills .title span {
    background: #FF715B;
}

#languages .title span {
    background: #4E937A;
}

#interests .title span {
    background: #690375;
}

#interests .info, #languages .info {
    left: 2em;
}

td {
    min-width: 15em
}

.date {
    position: relative;
    left: 2em;
    font-weight: 700;
}

.info {
    position: relative;
    left: 4em;
}

#exp {
    top: 1em;
    padding-bottom: 0;
}

.exp td:nth-child(1) {
    font-weight: bold;
    width: 15em;
}

.exp {
    border-bottom: solid;
    width: 98%;
    border-width: 1px;
    margin-left: 2em;
}

.exp td {
    vertical-align: text-top;
 }

#education {
    margin-top: 5em;
    border-collapse: separate;
}

#education td {
    padding-bottom: 1em;
    padding-top: 1em;
}

#summary .title span {
    background-color: darkorchid;
}

#summary ul {
    margin-top: 0;
}